#left{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10%;
}

#right{
    display: flex;
    justify-content: right;
    align-items: center;
}

main{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 800px;
}

p{
    line-height: 20px;
    max-width: 1000px;
    font-family: poppinslight;
}